* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* social media nav bar */
.meta-navbar {
    height: 20px;
    background-color: black;
    text-align: center;
    font-size: 20px;
    word-spacing: 20px;
}

.meta-navbar i {
    color: white;
}

.meta-navbar i:hover {
    color: rgb(78, 78, 255);
}

/* menu nav bar */
.product-navbar {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.432);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.product-navbar ul {
    display: flex;
}

.product-navbar h1 {
    font-size: 20px;
    font-family: cursive;
    margin-left: 40px;
    margin-right: 30px;
    color: white;
}

.product-navbar .search-bar input {
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: center;
}

.search-bar button {
    height: 27px;
    width: 27px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-left: -33px;
    margin-right: 50px;
}

.menu {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.menu ul {
    flex: 2;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-left: -100px;
    margin-right: 100px;
    font-weight: bolder;
}

.menu ul a {
    color: white;
    text-decoration: none;
}

.menu ul a:hover {
    color: purple;
}

.menu ul a i {
    font-size: 25px;
}

/* body part */
.body-part {
    width: 100%;
    margin-top: 110px;
    padding: 40px;
}

.cart-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.475);
}

.cart-container h1 {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-align: center;
}

.items {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.tickbox {
    flex: 0 0 30px;
}

.image-section {
    display: flex;
    justify-content: center;
    height: 170px;
}

.image-section img {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 2px solid rgba(48, 45, 45, 0.556);
}

.info-section {
    width: 900px;
    height: 170px;
    display: flex;
    flex-direction: column;
}

.info-section .heading-section {
    height: 40%;
    width: 100%;
    padding: 20px;
}

.heading-section label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.info-section .quantity-section {
    padding-left: 20px;
    height: 60%;
    width: 100%;
}

.quantity-section .heading h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.inc-dcr {
    margin-left: 20px;
    margin-top: 10px;
}

.inc-dcr input {
    height: 30px;
    width: 50px;
    text-align: center;
    font-size: 15px;
}

.inc-dcr button {
    height: 27px;
    width: 30px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.679);
    color: white;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.instock-section {
    margin-left: 20px;
    margin-top: 10px;
    color: green;
}

.price {
    width: 300px;
    height: 170px;
}

.price .info {
    height: 50%;
    width: 100%;
    padding: 20px;
}

.info h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.info span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
}

.info span:hover {
    color: rgb(43, 43, 232);
}

.button {
    display: flex;
    justify-content: flex-start;
    padding-top: 50px;
    margin-left: 150px;
    padding-left: 25px;
}

.button button {
    background-color: rgb(222, 78, 78);
    border-radius: 5px;
    width: 80px;
    height: 30px;
}

.cart-total {
    margin-left: 825px;
}

.delivery-charge {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 850px;
    margin-top: 20px;
}

h4 span{
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
}

.cart-total h3 {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 25px;
}

.cart-total h3 span {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.checkout-btn {
    background-color: rgb(255, 96, 96);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 850px;
    transition: background-color 0.3s;
    height: 50px;
    width: 150px;
}

.checkout-btn:hover {
    background-color: red;
    text-decoration: underline;
}
